*{
    padding: 0;
    margin: 0;
}
canvas{
    position: relative;
}
.questionBox button {
    background-color: purple;
    color: white;
    border-radius: 3px;
    border: none;
}
.questionBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: aqua;
    width: 100%;
}
.questionBox button {
    width: fit-content;
    padding: .25rem;
}
.overlay{
    position: relative;
    width: 100%;
    z-index: 1000;

}
.correctAnswer{
    position: absolute;
    z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    color: white;
    font-size: 100px;

}
.wrongAnswer{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    color: white;
    font-size: 100px;

}
.upgrade{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    opacity: 0;
    color: white;
    font-size: 100px;

}