body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.masterLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battleField {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    padding-bottom: 1rem;
}

.patch1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.patch2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.player1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.player2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
}

.computer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.choiceButtons {
    height: 100px;
    width: auto;
}

.turnout {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    /* padding-top: 3rem;
    padding-bottom: 1rem; */
    width: 100%;
}

.result {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* .result {
    display: none;
    position: absolute;
    justify-content: center;
    top: 225px;
    z-index: 2;
} */

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

.score {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* SINGLE GAME HEADER & FOOTER DEFAULTS */
/* LAYOUT */
/* UNIFORM SITE STYLES */
body {
    box-sizing: border-box;
    /* width: 100%; */
    padding-left: 2rem;
    padding-right: 2rem;
}

/* HEADER */
header {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#center-link {
    margin-left: -10%;
}

/* MAIN CONTAINER */
.mainContainer {
    box-sizing: border-box;
    width: 1360px;
    padding: 2rem;
}

/* FOOTER */
.userStats {
    display: flex;
    gap: 5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    z-index: 1100;
    bottom: 0;
}