button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.answers:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.answers label:hover {
    cursor: pointer;
}

.answers input:hover {
    cursor: pointer;
}

.textResult {
    font-size: 25pt;
    font-weight: bold;
    color: darkcyan;
}