.bg{
    position: absolute;
    bottom: 0;
    width: 100%;
}
h1{
    color: aliceblue;
    position: absolute;
    z-index: 2000;
}
.up{
    position: absolute;
    left: 50%;
    z-index: 1000;
}
.down{
    position: absolute;
    z-index: 1000;
}
.spaceship{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;

}
#flames{
    opacity: 0;
}
.questionBox button {
    background-color: purple;
    color: white;
    border-radius: 3px;
    border: none;
    width: fit-content;
    padding: .25rem;
}
.questionBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: aqua;
}
.overlay{
    position: absolute;
    z-index: 1000;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 1px;
  }
  .left {
    left: 0;
    background-color: #111;
  }
  .right {
    right: 0;
    background-color: rgb(0, 255, 85);
  }
